header, footer {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 120px;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.flex-row-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}